main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .InputForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        input {
            padding: 5px;
        }
        p {
            font-size: 10px;
            color: red;
        }
        button {
            margin-top: 10px;
            width: 100%;
            background-color: rgb(127, 255, 212);
            border: none;
            box-shadow: 2px 2px 2px grey;
            padding: 5px;
            &:hover {
                background-color: rgb(127, 255, 212, 0.5);
            }
            &:disabled {
                background-color: rgb(128, 128, 128, 0.4);
                &:hover {
                    background-color: none;
                }
            }
        }
    }
}
